doctype html
html(lang="en")
  head
    title Login
    link( href="{{ asset('css/login.css') }}" rel="stylesheet" type="text/css")
    body
      .container
        h1 Patch Table
        p
          | Welcome to Patch Table, your one stop for all things scouting memorabilia.
