doctype html
html(lang="en")
  head
    title Patch Pro
    link( href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css")
    body
      @include('navigation')
      .welcome
        h1 Welcome to Patch Table!
        p
          | Welcome to Patch Table, your one stop for all things scouting memorabilia.
